body {
	margin: 20px;
	font: normal 13px Helvetica;
}
#formtable {
	margin-left: 20px;
}
#labels {}
#fields {
	width: 400px;
}
td, th {
	padding: 1px 3px;
	vertical-align: top;
}
th {
	text-align: right;
	font-weight: normal;
}
th > label {
	position: relative;
	top: 5px;
}
input[type="text"],
textarea {
	width: 100%;
	padding: 3px;
	border: 1px solid silver;
	border-radius: 2px;
	font: normal 12px Helvetica;
}