html.iframed {
	display: -webkit-box;
	-webkit-box-pack: center;
	background-color: rgba(0,0,0,0.5);
}
body {
	margin: 20px 20px;
	font-family: "Helvetica Neue", "Segoe UI", sans-serif;
	font-size: 13px;
}
body.iframed {
	width: 360px;
	height: auto;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	border-radius: 6px;
	padding: 20px 20px;
	background-color: whitesmoke;
}
h1 {
	margin-bottom: 20px;
	font-size: 120%;
}
h2 {
	font-size: 110%;
	font-weight: normal;
}
.servicebtn {
	display: inline-block;
	width: 120px;
	margin: 5px;
	border: 1px solid silver;
	border-radius: 6px;
	padding: 16px;
	padding-left: 50px;
	background-color: white;
	background-position: 12px center;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: left;
}
.servicebtn:hover {
	border-color: #008f1b;
}
.servicebtn.selected {
	border-color: #008f1b;
	background-color: #e3fde3;
}
.servicebtn#delicious {
	background-image: url(delicious.png);
}
.servicebtn#kippt {
	background-image: url(kippt.png);
}
.servicebtn#pinboard {
	background-image: url(pinboard.png);
}
.servicebtn#local {
	background-image: url(database.png);
}
.aligncenter {
	text-align: center;
}
.alignright {
	text-align: right;
}
#loginbtn {
	display: inline-block;
	margin-top: 6px;
	border-radius: 4px;
	padding: 4px 12px 6px;
	background-color: gray;
	color: white;
	font-weight: bold;
	cursor: not-allowed;
}
#loginbtn.enabled {
	background-color: #008f1b;
	cursor: pointer;
}
.tip {
	margin-top: 24px;
	font-size: 12px
}
.hidden {
	display: none;
}
