<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Canisbos Computing</string>
	<key>Builder Version</key>
	<string>10600.1.22</string>
	<key>CFBundleDisplayName</key>
	<string>Cloudmarks</string>
	<key>CFBundleIdentifier</key>
	<string>com.canisbos.moofmarks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.11</string>
	<key>CFBundleVersion</key>
	<string>2211</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>list.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>listP</string>
				<key>Width</key>
				<real>600</real>
			</dict>
			<dict>
				<key>Filename</key>
				<string>firstrun.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>firstP</string>
				<key>Width</key>
				<real>360</real>
			</dict>
			<dict>
				<key>Filename</key>
				<string>add.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>addP</string>
				<key>Width</key>
				<real>600</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggleList</string>
				<key>Identifier</key>
				<string>ti_main</string>
				<key>Image</key>
				<string>bookmark.png</string>
				<key>Label</key>
				<string>Cloudmarks</string>
				<key>Palette Label</key>
				<string>Cloudmarks</string>
				<key>Popover</key>
				<string>listP</string>
				<key>Tool Tip</key>
				<string>Cloudmarks</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>toggleAddForm</string>
				<key>Identifier</key>
				<string>ti_add</string>
				<key>Image</key>
				<string>add.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>Cloudmarks Add</string>
				<key>Palette Label</key>
				<string>Cloudmarks Add</string>
				<key>Popover</key>
				<string>addP</string>
				<key>Tool Tip</key>
				<string>Add cloud bookmark</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected-main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Quickly search and open your Pinboard, Delicious, or Kippt bookmarks.</string>
	<key>DeveloperIdentifier</key>
	<string>ZANVZTSER6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/canisbos/Cloudmarks/master/dist/Update.plist</string>
	<key>Website</key>
	<string>http://canisbos.com/</string>
</dict>
</plist>
